*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Plain";
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
      /* background-color: #030303; */
      /* overflow-y: hidden; */
}
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    /* background-color: white; */
    position: fixed;
    z-index: 999;
    border: 1px solid white;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    background-color: #030303;
    z-index: 999;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 26vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
}
#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: Silk Serif ;
    font-weight: 100;
}
#line1-part1 h5{
    width: 4.5vw;
    text-align: right;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 4.5vw;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family:"Plain" ;
        -webkit-text-stroke: 1px white;
        color: #fff;
        font-weight: 300;
        opacity: 1;
    }
    48%{
        font-family:"Plain" ;
        -webkit-text-stroke: 1px white;
        color: #fff;
        font-weight: 300;
        opacity: 0;
    }
    50%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 300;
        opacity: 1;
    }
    100%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 300;
        opacity: 0;
    }
}







#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vw;
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 100;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 8vw;
    padding-top: 3vw;
}
#nav-part2{
    display: flex;
    justify-content:center ;
    align-items:center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    /* background-color: aquamarine; */

}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero{
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
}
.hero h2{
     font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    /* text-decoration: underline; */
}
